<!doctype html>
<html lang="en">
  
  <head>
    <!-- Required meta tgs -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      {% load static %}
    
    <link rel="stylesheet" href={% static "css\style.css" %}>
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="nav">
      <div class="logo"><a> ToDo</a></div>
      <div class="links">
        <ul>
          <li>about us</li>
          <li>home</li>
          <li>contact us</li>
        </ul>
      </div>
      <div class="search"></div>
    </div>

    {% block list %}
      
    {% endblock list %}
    {% block update %}
      
    {% endblock update %}

  </body>
</html>