{% extends 'tasks/base.html' %}

{% block title %}home{% endblock title %}</title>
{% block list %}
<div class="container">
<div class="card">

  <div class="card_top">
    <form action="" method='POST'>
      {% csrf_token %}
      {{form.title}}
      <input type="submit" class='btn' name='create_task'>
    </form>
    </div>
    <div class="content">
      {% for task in tasks %}
      <div class='task'>
        {% if task.complete %}
        <a href={% url 'update' task.id %}>
            {{ task }}
            <button class="del hovr"> <a href={% url 'delete' task.id %}>
            Delete</a></button></a>
        </div>
        {% else %}
        <div class='task'>
        <a href={% url 'update' task.id %}>
          {{task}} <button class="del"><a href={% url 'delete' task.id %}> Delete</a></button>
        </a>
      </div>
        {% endif %}
      {% endfor %}
    </div>
</div>
</div>

{% endblock list %}